*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100vw;

    /* define variable and value */
    /* --header-background-color: Pale blue; */
    /* display: flex; */

}

.header {
    border: 1px solid lightblue;
    background-image: linear-gradient hsl(252, 100%, 67%); 
    /* background-color:linear-gradient hsl(252, 100%, 67%) ; */
    line-height: 2;

    margin: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    height: 150px;
    width: 180px;

    gap:4;
    border: 5px solid blue;
    border-radius: 70px;
    background-color: blue;
    
    display: flex;
    justify-content: center;
    align-items: center;
}